---
import { Image } from "@astrojs/image/components";
import defaultSrc from "@images/default-project-image.webp";
import type { CollectionEntry } from "astro:content";

export interface Props {
    project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
---

<article>
    <header>
        <a href={`/projects/${project.slug}/`}>
            <div>
                <Image
                    width={500}
                    height={500}
                    format="webp"
                    position="center"
                    alt={project.data.name}
                    src={project.data.image?.src ?? defaultSrc.src}
                />
            </div>
            <strong class="project-name">{project.data.name}</strong>
        </a>
    </header>
    <span>{project.data.summary}</span>
    <footer>
        <small>{project.data.tags.join(" • ")}</small>
    </footer>
</article>

<style>
    article {
        margin-bottom: 0;
        margin-top: 0;
        display: flex;
        flex-direction: column;
    }

    article:hover {
        transform: translateY(calc(var(--spacing) * -1));
        transition: transform cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.4s;
    }

    article:hover img {
        transform: scale(1.06);
    }

    header > a > div {
        overflow: hidden;
        width: 100%;
        margin-bottom: var(--spacing);
    }

    header > a > strong {
        font-size: larger;
    }

    span {
        flex-grow: 1;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: transform cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.4s;
    }
</style>
