---
import ProjectCard from "./ProjectCard.astro";
import { getCollection } from "astro:content";

export interface Props {
    limitTo?: number;
}

const projectEntries = await getCollection("projects");
let entries = projectEntries.sort((a, b) => {
    const [yearA, yearB] = [a.data.timespan.from, b.data.timespan.from];
    return yearB - yearA;
});

const { limitTo } = Astro.props;
if (limitTo) {
    entries = entries.slice(0, limitTo);
}
---

<div>
    {entries.map((p) => <ProjectCard project={p} />)}
</div>

<style>
    @media (width >= 770px) {
        div {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    @media (425px <= width <= 770px) {
        div {
            grid-template-columns: 1fr 1fr;
        }
    }
    @media (width <= 425px) {
        div {
            grid-template-columns: 1fr;
        }
    }
    div {
        display: grid;
        gap: calc(var(--spacing) * 3);
    }
</style>
