---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const blogEntries = await getCollection("posts");

blogEntries.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const options = {
  weekday: "long",
  year: "numeric",
  month: "long",
  day: "numeric"
};
---

<Layout title="Ben C's Blog">
  <h1 class="gradient-text">The Cowsay - Ben C's Blog</h1>
  {
    blogEntries.map((p) => (
      <article>
        <h2>
          <a href={`/blog/${p.slug}`}>{p.data.title}</a>
        </h2>
        <p>{p.data.date.toLocaleDateString(undefined, options)}</p>
        <p>
          {p.data.summary}&nbsp;&nbsp;<a href={`/blog/${p.slug}`}>Read More</a>
        </p>
      </article>
    ))
  }
</Layout>

<style>
  article {
    margin: var(--4) 0;
    border-top: 1px solid var(--text);
  }

  article:first-of-type {
    border-top: none;
  }

  article h2 {
    margin-bottom: 0;
  }

  article p:nth-child(2) {
    margin: 0;
    font-size: var(--2);
  }

  h2 > a {
    text-decoration: none !important;
  }
</style>
