/* Color Definitions */
:root {
  --text: #daf1ef;
  --background: #080609;
  --primary: #53d164;
  --secondary: #012d1e;
  --accent: #0ee19b;

  --text-50: #edf8f7;
  --text-100: #daf1ef;
  --text-200: #b5e3df;
  --text-300: #90d5cf;
  --text-400: #6bc7bf;
  --text-500: #46b9af;
  --text-600: #38948c;
  --text-700: #2a6f69;
  --text-800: #1c4a46;
  --text-900: #0e2523;
  --text-950: #071212;

  --background-50: #f3f0f5;
  --background-100: #e7e0eb;
  --background-200: #cfc2d6;
  --background-300: #b8a3c2;
  --background-400: #a085ad;
  --background-500: #886699;
  --background-600: #6d527a;
  --background-700: #523d5c;
  --background-800: #36293d;
  --background-900: #1b141f;
  --background-950: #0e0a0f;

  --primary-50: #ebfaed;
  --primary-100: #d7f4db;
  --primary-200: #aeeab6;
  --primary-300: #86df92;
  --primary-400: #5ed46e;
  --primary-500: #36c949;
  --primary-600: #2ba13b;
  --primary-700: #20792c;
  --primary-800: #15511d;
  --primary-900: #0b280f;
  --primary-950: #051407;

  --secondary-50: #e6fef6;
  --secondary-100: #cdfeee;
  --secondary-200: #9bfddc;
  --secondary-300: #69fccb;
  --secondary-400: #37fbba;
  --secondary-500: #05faa8;
  --secondary-600: #04c887;
  --secondary-700: #039665;
  --secondary-800: #026443;
  --secondary-900: #013222;
  --secondary-950: #011911;

  --accent-50: #e7fdf6;
  --accent-100: #cffced;
  --accent-200: #9ff9db;
  --accent-300: #6ff6c9;
  --accent-400: #3ff3b7;
  --accent-500: #0ff0a5;
  --accent-600: #0cc084;
  --accent-700: #099063;
  --accent-800: #066042;
  --accent-900: #033021;
  --accent-950: #021810;
}

/* Color Aliases */

/* Spacing Scale, Major Third */
:root {
  /* 1rem = 16px */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 125%;
  --scale: 1.25;
  --small: calc(1rem * pow(var(--scale), -1));
  --half: calc(1rem * pow(var(--scale), -0.5));
  --1: calc(1rem * pow(var(--scale), 0));
  --2: calc(1rem * pow(var(--scale), 1));
  --3: calc(1rem * pow(var(--scale), 2));
  --4: calc(1rem * pow(var(--scale), 3));
  --5: calc(1rem * pow(var(--scale), 4));
  --6: calc(1rem * pow(var(--scale), 5));
  --7: calc(1rem * pow(var(--scale), 6));
  --8: calc(1rem * pow(var(--scale), 7));
  --9: calc(1rem * pow(var(--scale), 8));
  --10: calc(1rem * pow(var(--scale), 9));
  --11: calc(1rem * pow(var(--scale), 10));
  --12: calc(1rem * pow(var(--scale), 11));
  --14: calc(1rem * pow(var(--scale), 13));
  --component-padding: var(--small) var(--1);
}

/* Element Defaults */

small {
  font-size: var(--small);
  color: var(--text-disabled);
}

h1 {
  font-size: var(--5);
}

h2 {
  font-size: var(--4);
}

h3 {
  font-size: var(--3);
}

h4 {
  font-size: var(--2);
}

h5 {
  font-size: var(--1);
}

body {
  color: var(--text);
  background-color: var(--background);
}

a {
  color: var(--accent-600);
}

button,
button.primary,
[role="button"] {
  --bg: var(--primary-400);
  --hover-bg: var(--primary-500);
  --active-bg: var(--primary-300);
  --disabled-bg: var(--primary-600);

  padding: var(--component-padding);
  color: var(--text);
  border-radius: var(--1);
  border: solid 2px transparent;
  background-color: var(--bg);
  cursor: pointer;
  transition: background-color 100ms linear;
  color: var(--background-800);
  text-decoration: none;
}

button.secondary,
.secondary[role="button"] {
  --bg: var(--secondary-500);
  --hover-bg: var(--secondary-400);
  --active-bg: var(--secondary-600);
  --disabled-bg: var(--secondary-700);
}

button.accent,
.accent[role="button"] {
  --bg: var(--accent-400);
  --hover-bg: var(--accent-500);
  --active-bg: var(--accent-300);
  --disabled-bg: var(--accent-600);
}

button:active,
[role="button"]:active {
  background-color: var(--active-bg);
}

button:hover,
[role="button"]:hover {
  background-color: var(--hover-bg);
}

button:disabled,
[role="button"]:disabled {
  background-color: var(--disabled-bg);
  color: var(--text-disabled);
}

button:disabled:hover,
[role="button"]:disabled:hover {
  cursor: default;
}

input {
  padding: var(--component-padding);
  color: var(--text);
  border-radius: var(--1);
  border: solid 2px var(--accent-200);
  background-color: var(--background-raised);
}

body {
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

/* Breakpoint Queries, Using Bootstrap's */

/* Smallest: 576px */

@custom-media --sm (width >=576px);
@custom-media --md (width >=768px);
@custom-media --lg (width >=1200px);
@custom-media --xl (width >=1700px);

.container {
  --gutter: var(--2);
  margin: 0 var(--gutter);
}

@media (--md) {
  .container {
    --gutter: var(--10);
  }
}

@media (--xl) {
  .container {
    --gutter: var(--14);
  }
}

.colrow-sm {
  flex-direction: column !important;
}

@media (--sm) {
  .colrow-sm {
    flex-direction: row !important;
  }
}

.colrow-md {
  flex-direction: column !important;
}

@media (--md) {
  .colrow-md {
    flex-direction: row !important;
  }
}

.colrow-xl {
  display: flex;
  flex-direction: column !important;
}

@media (--xl) {
  .colrow-xl {
    flex-direction: row-reverse !important;
  }
}

.gradient-text {
  background: linear-gradient(120deg, var(--primary), var(--accent) 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.colrow-lg {
  display: flex;
  flex-direction: column;
}

.colrow-lg-rev {
  display: flex;
  flex-direction: column-reverse;
}

.hide-lg {
  display: none !important;
}

@media (--lg) {
  .colrow-lg-rev,
  .colrow-lg {
    flex-direction: row;
  }

  .hide-lg {
    display: flex !important;
  }
}

/* Tooltips */
[data-tooltip] {
  position: relative;

  &[data-placement="top"]::before,
  &[data-placement="top"]::after,
  &::before,
  &::after {
    display: block;
    z-index: 99;
    position: absolute;
    bottom: 100%;
    left: 50%;
    padding: 0.25rem 0.5rem;
    overflow: hidden;
    transform: translate(-50%, -0.25rem);
    border-radius: var(--2);
    background: var(--accent-800);
    content: attr(data-tooltip);
    color: var(--text);
    font-style: normal;
    font-size: 0.875rem;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
  }

  &[data-placement="top"]::after,
  &::after {
    padding: 0;
    transform: translate(-50%, 0rem);
    border-top: 0.3rem solid;
    border-right: 0.3rem solid transparent;
    border-left: 0.3rem solid transparent;
    border-radius: 0;
    background-color: transparent;
    content: "";
    color: var(--accent-800);
  }

  &[data-placement="bottom"] {
    &::before,
    &::after {
      top: 100%;
      bottom: auto;
      transform: translate(-50%, 0.25rem);
    }

    &:after {
      transform: translate(-50%, -0.3rem);
      border: 0.3rem solid transparent;
      border-bottom: 0.3rem solid;
    }
  }

  &[data-placement="left"] {
    &::before,
    &::after {
      top: 50%;
      right: 100%;
      bottom: auto;
      left: auto;
      transform: translate(-0.25rem, -50%);
    }

    &:after {
      transform: translate(0.3rem, -50%);
      border: 0.3rem solid transparent;
      border-left: 0.3rem solid;
    }
  }

  &[data-placement="right"] {
    &::before,
    &::after {
      top: 50%;
      right: auto;
      bottom: auto;
      left: 100%;
      transform: translate(0.25rem, -50%);
    }

    &:after {
      transform: translate(-0.3rem, -50%);
      border: 0.3rem solid transparent;
      border-right: 0.3rem solid;
    }
  }

  &:focus,
  &:hover {
    &::before,
    &::after {
      opacity: 1;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:focus,
    &:hover {
      &::before,
      &::after {
        --tooltip-slide-to: translate(-50%, -0.25rem);
        transform: translate(-50%, 0.75rem);
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
        animation-name: tooltip-slide;
        opacity: 0;
      }

      &::after {
        --tooltip-caret-slide-to: translate(-50%, 0rem);
        transform: translate(-50%, -0.25rem);
        animation-name: tooltip-caret-slide;
      }
    }

    &[data-placement="bottom"] {
      &:focus,
      &:hover {
        &::before,
        &::after {
          --tooltip-slide-to: translate(-50%, 0.25rem);
          transform: translate(-50%, -0.75rem);
          animation-name: tooltip-slide;
        }

        &::after {
          --tooltip-caret-slide-to: translate(-50%, -0.3rem);
          transform: translate(-50%, -0.5rem);
          animation-name: tooltip-caret-slide;
        }
      }
    }

    &[data-placement="left"] {
      &:focus,
      &:hover {
        &::before,
        &::after {
          --tooltip-slide-to: translate(-0.25rem, -50%);
          transform: translate(0.75rem, -50%);
          animation-name: tooltip-slide;
        }

        &::after {
          --tooltip-caret-slide-to: translate(0.3rem, -50%);
          transform: translate(0.05rem, -50%);
          animation-name: tooltip-caret-slide;
        }
      }
    }

    &[data-placement="right"] {
      &:focus,
      &:hover {
        &::before,
        &::after {
          --tooltip-slide-to: translate(0.25rem, -50%);
          transform: translate(-0.75rem, -50%);
          animation-name: tooltip-slide;
        }

        &::after {
          --tooltip-caret-slide-to: translate(-0.3rem, -50%);
          transform: translate(-0.05rem, -50%);
          animation-name: tooltip-caret-slide;
        }
      }
    }
  }
}

@keyframes tooltip-slide {
  to {
    transform: var(--tooltip-slide-to);
    opacity: 1;
  }
}

@keyframes tooltip-caret-slide {
  50% {
    opacity: 0;
  }

  to {
    transform: var(--tooltip-caret-slide-to);
    opacity: 1;
  }
}
