---
import ProjectGrid from "@components/projects/ProjectGrid.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Home">
    <h1>Ben C's Portfolio</h1>
    <p>
        Hi there! I'm Ben C, a highschool student looking to enter the world of software
        development, specifically full-stack web development.
    </p>
    <p>
        I'm currently enrolled in trade school for information technology programming, but I mostly
        like to program in my spare time as well.
    </p>
    <p>
        I like to try a lot of things, from <a href="/projects/ow-new-horizons"> modding games</a>
        to building <a href="/projects/menagerie">websites</a> and <a href="/projects/ow-mod-man">
            desktop apps
        </a>. I enjoy pretty much any aspect of software development.
    </p>
    <p>On this site you'll find my current and past projects.</p>

    <hgroup>
        <h2>Recent Projects</h2>
        <h3>Sorted By Year</h3>
    </hgroup>
    <ProjectGrid limitTo={6} />
    <div class="view-more">
        <a href="/projects">View All Projects</a>
    </div>
</Layout>

<style>
    .view-more {
        margin-top: var(--spacing);
        display: flex;
        justify-content: center;
        width: 100%;
    }
</style>
