---
import ExtLink from "@components/ExtLink.astro";
import ProjectGrid from "@components/projects/ProjectGrid.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Home">
    <h1>Ben C's Portfolio</h1>
    <h2>Hi There!</h2>
    <p>
        I'm Ben C, a highschool student looking to enter the world of software development,
        specifically full-stack web development.
    </p>
    <p>
        I'm currently enrolled in trade school for information technology programming, but I like to
        program in my spare time as well.
    </p>
    <p>
        I like to try a lot of things, from <ExtLink href="#">modding games</ExtLink>
        to building <ExtLink href="#">websites</ExtLink> and <ExtLink href="/projects/ow-mod-man">
            desktop apps
        </ExtLink>. I enjoy pretty much any aspect of software development.
    </p>
    <p>On this site you'll find my current and past projects.</p>

    <hgroup>
        <h1>Recent Projects</h1>
        <h2>Sorted By Date</h2>
    </hgroup>
    <ProjectGrid limitTo={6} />
    <div class="view-more">
        <a href="/projects">View All</a>
    </div>
</Layout>
