---
import ProjectGrid from "@components/projects/ProjectGrid.astro";
import Layout from "@layouts/Layout.astro";
import cow from "@assets/cow.png";
import { Image } from "astro:assets";
---

<Layout title="Ben C's Portfolio" appendTitle={false}>
  <div class="hero">
    <div>
      <h1>Ben C's <span class="gradient-text">Portfolio</span></h1>
      <p>
        I'm Ben C, a college student looking to enter software development, specifically full-stack
        web development.
      </p>
      <p>
        I like to try a lot of things, from <a href="/projects/ow-new-horizons"> modding games</a>
        to building
        <a href="/projects/menagerie">websites</a> and
        <a href="/projects/ow-mod-man">desktop apps</a>.<br /> I enjoy pretty much any aspect of software
        development.
      </p>
      <div class="ctas">
        <a href="/projects" role="button" class="secondary">View My Projects</a>
      </div>
    </div>
    <div class="hero-image">
      <Image width={150} height={150} format="webp" alt="Ben C's Avatar" src={cow} />
    </div>
  </div>

  <h2 id="about-me">About Me</h2>
  <div class="about-section">
    <p>
      I'm a 20-year-old developer from Pennsylvania, USA. I first started programming with Unity
      games but then quickly began doing web development and then expanded into anything I was
      interested in. I've been programming for about eight years now and hope that I can continue to
      pursue a career in this industry.
    </p>
    <p>
      I'm currently in college majoring in Computer Science. I'm hoping to graduate in 2027 with a
      Bachelors in Computer Science and a minor in Professional Technical Writing.
    </p>
  </div>

  <h2>Recent Projects</h2>
  <ProjectGrid limitTo={6} />
  <div class="view-more">
    <a href="/projects" role="button" class="secondary">View All Projects</a>
  </div>
</Layout>

<style>
  .hero {
    display: flex;
    gap: var(--2);
    justify-content: space-between;
    align-items: center;
  }

  .hero .ctas {
    display: flex;
    flex-wrap: wrap;
    gap: var(--1);
    margin: var(--5) 0;
    font-weight: bold;
  }

  @keyframes glow {
    0% {
      box-shadow: 0 0 0 0 var(--primary);
    }
    100% {
      box-shadow: 0 0 450px 5px var(--primary);
    }
  }

  .hero-image {
    --anim-props: 900ms 500ms cubic-bezier(0.645, 0.045, 0.355, 1) 1 forwards;
    display: none;
    align-items: center;
    position: relative;
    animation: glow var(--anim-props);
    border-radius: 50%;
    box-sizing: border-box;
    margin: var(--10);
  }

  @media (width >= 1200px) {
    .hero-image {
      display: flex;
    }
  }

  .hero-image img {
    width: var(--11);
    height: var(--11);
    position: relative;
    z-index: 100;
    clip-path: circle();
  }

  @keyframes pop {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1.8);
    }
  }

  .hero-image:after {
    animation: pop var(--anim-props);
    content: "";
    mask: url("/pfp-lines.svg") no-repeat 50% 50%;
    -webkit-mask: url("/pfp-lines.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    display: inline-block;
    position: absolute;
    inset: 0;
    width: 100%;
    background-image: radial-gradient(circle at center, var(--primary) 0, var(--accent) 100%);
  }

  .view-more {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: var(--4);
  }

  .view-more a {
    width: 100%;
    text-align: center;
    font-weight: bold;
  }
</style>
