---
export interface Props {
    href: string;
    class?: string;
}

const { href, class: className } = Astro.props;
---

<a href={href} class={className} rel="noopener" target="_blank"><slot /></a>
