---
import { Icon } from "astro-icon/components";
import type { HTMLAttributes } from "astro/types";

export type LabelPlacement = "top" | "left" | "right" | "bottom" | "inside";

export interface Props extends HTMLAttributes<"a"> {
  icon: string;
  label: string;
  placement: LabelPlacement;
  overridePack?: string;
  isExternal?: boolean;
}

const { label, placement, icon, isExternal, overridePack, ...rest } = Astro.props;
---

<a
  aria-label={label}
  data-tooltip={placement !== "inside" ? label : null}
  data-placement={placement !== "inside" ? placement : null}
  target={isExternal ? "_blank" : ""}
  {...rest}
>
  <Icon width="1.2em" height="1.2em" name={`${overridePack ?? "bi"}:${icon}`} />
  {placement === "inside" && label}
</a>
