---
import Layout from "@layouts/Layout.astro";
import ProjectGrid from "@components/projects/ProjectGrid.astro";
import { getCollection } from "astro:content";

const projectEntries = (await getCollection("projects")).length;
---

<Layout title="Projects" description="Ben C's Projects">
    <hgroup>
        <h1 class="gradient-text">My Projects</h1>
        <h2>Sorted By Year • {projectEntries} Total</h2>
    </hgroup>
    <ProjectGrid />
</Layout>
