---
import ExtLink from "@components/ExtLink.astro";
import "@picocss/pico/css/pico.min.css";

export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title} | Bwc9876</title>
    </head>
    <body>
        <nav class="container-fluid">
            <ul>
                <li>
                    <a class="nav-icon-link" href="/"
                        ><img
                            class="nav-icon"
                            width="150"
                            height="150"
                            src="https://avatars.githubusercontent.com/u/25644444?v=4"
                        />
                    </a>
                </li>
                <li>
                    <b>Bwc9876</b>.dev
                </li>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/projects">Projects</a>
                </li>
            </ul>
            <ul>
                <li>
                    <ExtLink href="https://github.com/Bwc9876">GitHub</ExtLink>
                </li>
            </ul>
        </nav>
        <main class="container">
            <slot />
        </main>
    </body>
</html>

<style is:global>
    :root {
        --spacing: 0.5rem !important;
    }

    .nav-icon {
        width: 50px;
        clip-path: circle();
    }
</style>
