---
import { Image } from "@astrojs/image/components";
import IconLink from "@components/IconLink.astro";
import "@picocss/pico/css/pico.min.css";
import github from "bootstrap-icons/icons/github.svg";

export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title} | Bwc9876</title>
    </head>
    <body>
        <nav class="container-fluid">
            <ul>
                <li>
                    <a class="nav-icon-link" href="/"
                        ><Image
                            class="nav-icon"
                            width={150}
                            height={150}
                            format="webp"
                            alt="Ben C's Avatar"
                            src="https://avatars.githubusercontent.com/u/25644444?v=4"
                        />
                    </a>
                </li>
                <li>
                    <b>Bwc9876</b>.dev
                </li>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/projects">Projects</a>
                </li>
            </ul>
            <ul>
                <li>
                    <IconLink
                        icon="github"
                        size={30}
                        href="https://github.com/Bwc9876"
                        label="GitHub"
                        placement="left"
                    />
                </li>
            </ul>
        </nav>
        <main class="container">
            <slot />
        </main>
    </body>
</html>

<style is:global>
    :root {
        --spacing: 0.5rem !important;
    }

    .nav-icon {
        width: 50px;
        clip-path: circle();
    }
</style>
